<ng-container *ngIf="{ currentRates: currentRates$ | async } as vm">
  <div class="w-full px-4">
    <ng-container *ngIf="vm.currentRates; else noData">
      <p class="text-gray-100 italic py-4">The latest Exchange Rates:</p>

      <div class="grid grid-cols-2 lg:grid-cols-4 gap-4 w-full pb-8">
        <div
          class="w-full bg-white rounded-lg shadow-lg aspect-square hover:scale-110 transition-all"
          *ngFor="let currency of vm.currentRates | keyvalue"
        >
          <!-- {{ currency | json }} -->
          <div class="p-4">
            <div class="h-16 flex justify-center items-center">
              <h3
                class="text-2xl font-normal text-gray-700 text-center capitalize"
              >
                {{ currency.value.currency }}
              </h3>
            </div>

            <div class="w-16 relative overflow-hidden mx-auto pb-4">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 576 512"
                class=""
              >
                <path
                  d="M64 64C28.7 64 0 92.7 0 128V384c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H64zm64 320H64V320c35.3 0 64 28.7 64 64zM64 192V128h64c0 35.3-28.7 64-64 64zM448 384c0-35.3 28.7-64 64-64v64H448zm64-192c-35.3 0-64-28.7-64-64h64v64zM288 160a96 96 0 1 1 0 192 96 96 0 1 1 0-192z"
                />
              </svg>
            </div>

            <div class="w-full flex justify-center items-center gap-4">
              <p class="text-gray-500">Sell:</p>
              <p class="text-gray-500">
                {{ currency.value.rates[0].bid || "0.000" }}
              </p>
            </div>

            <div class="w-full flex justify-center items-center gap-4">
              <p class="text-gray-500">Buy:</p>
              <p class="text-gray-500">
                {{ currency.value.rates[0].ask || "0.000" }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #noData>
      <div
        class="flex justify-center items-center border rounded-lg mt-12 min-h-60 mx-auto"
      >
        <p class="font-medium text-gray-100 p-4 text-center">
          It's weekend, come back on Monday!
        </p>
      </div>
    </ng-template>
  </div>
</ng-container>
