@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html,
body {
  background: rgb(92, 126, 176);
  background: linear-gradient(
    167deg,
    rgba(92, 126, 176, 1) 0%,
    rgba(217, 215, 201, 1) 100%
  );
  color: #333333;
}

input {
  width: inherit;
}
