@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html,
body {
  background-color: white;
  color: #333333;
}
