<ng-container
  *ngIf="{
    currenctRates: currenctRates$ | async,
    isLoading: isLoading$ | async,
    currencyExchangeHistory: currencyExchangeHistory$ | async,
  } as vm"
>
  <main class="w-full mx-auto">
    <h1
      class="text-3xl font-bold tracking-wider leading-10 uppercase text-gray-700 text-center"
    >
      {{ title }}
    </h1>
    <h2 class="text-xl font-normal tracking-wider text-center text-gray-500">
      {{ subtitle }}
    </h2>

    <section class="container mx-auto py-8">
      <ng-container *ngIf="vm.currenctRates; else noData">
        <p class="italic py-4">Dzisiejsze kursy walut:</p>

        <div class="grid grid-cols-5 gap-4 w-full pb-8">
          <div
            class="w-full rounded-lg shadow-lg"
            *ngFor="let currency of vm.currenctRates | keyvalue"
          >
            <div class="bg-white p-4">
              <h3 class="text-xl font-normal text-gray-700">
                {{ currency.value.currency }}
              </h3>
              <p class="text-gray-500">
                Sprzedaż: {{ currency.value.rates[0].bid }}
              </p>
              <p class="text-gray-500">
                Kupno: {{ currency.value.rates[0].ask }}
              </p>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #noData>
        <div class="border rounded-lg mt-12 mx-auto">
          <p class="text-center text-gray-500 py-8">
            Mamy weekend, brak danych
          </p>
        </div>
      </ng-template>

      <div class="container w-full rounded-md border py-4 mt-4">
        <h3>Sprawdź historię ></h3>
        <form [formGroup]="form" class="flex justify-start items-center gap-4">
          <select
            type="text"
            formControlName="currency"
            class="border rounded-md p-2"
            placeholder="Kod waluty"
          >
            <option *ngFor="let code of Object.values(CurrencyCodes)">
              {{ code }}
            </option>
          </select>

          <input
            type="date"
            formControlName="date"
            class="border rounded-md p-2"
          />
          <button
            class="bg-blue-500 text-white rounded-md p-2 mr-4"
            [ngClass]="{ 'bg-gray-500': form.invalid }"
            (click)="getHistoricalRates()"
            [disabled]="form.invalid"
          >
            Sprawdź
          </button>
          <button type="button" (click)="clear()">Wyczyść</button>
        </form>
        <ng-container *ngIf="vm.currencyExchangeHistory">
          <div>
            <p class="text-gray-500">
              Kurs sprzedaży: {{ vm.currencyExchangeHistory.rates[0].bid }}
            </p>
            <p class="text-gray-500">
              Kurs kupna: {{ vm.currencyExchangeHistory.rates[0].ask }}
            </p>
          </div>
        </ng-container>
      </div>
    </section>
  </main>
</ng-container>
